@{
    ViewBag.Title = "Home Page";

}

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Nuevos Productos </h3>

                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="img/Producto1.jpg" width="100px" height="270" alt="">
                                        <div class="product-label">

                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">

                                        <p class="product-category">Telefonos  | Celulares</p>
                                        <h3 class="product-name"><a>Huawei P30 Lite</a></h3>
                                        <h4 class="product-price">$6,499 </h4>
                                        <div class="product-rating">
                                            <p><a class="primero" href="img/pro1.jpg" target="_blank">Amazon</a></p>
                                        </div>
                                        <div class="product-btns">
                                            <p class="product-category">Smartphone, 128 GB, Desbloqueado, 6.15 pulgadas, Color Azul Orquidea</p>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn">Ver Detalles</button>
                                    </div>

                                </div>
                                <!-- /product -->
                                <!-- product -->
                                <div class="product">
                                    <div class="product-img">
                                        <img class="pro2" src="img/pro2.jpg" width="100px" height="240px" alt="">
                                        <div class="product-label">
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <br></br>
                                        <p class="product-category">Computadoras | Mouse</p>
                                        <h3 class="product-name"><a href="#"> HyperX Surge</a></h3>
                                        <h4 class="product-price">$1,199 </h4>
                                        <div class="product-rating">
                                            <p><a class="primero" href="https://www.mercadolibre.com.mx/mouse-de-juego-hyperx-surge-pulsefire-negro/p/MLM10763791?source=search#searchVariation=MLM10763791&position=1&type=product&tracking_id=94f47a21-1b83-438c-8c37-d9479fadcf62" target="_blank">MercadoLibre</a></p>
                                        </div>
                                        <div class="product-btns">

                                            <p class="product-category">Mouse de juego HyperX Surge Pulsefire negro</p>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn">Ver Detalles</button>
                                    </div>
                                </div>
                                <!-- /product -->
                                <!-- product -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="img/pro3.jpg" alt="" height="275">
                                        <div class="product-label">
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Videojuegos | Controles </p>
                                        <h3 class="product-name"><a href="#"> Control Inalámbrico Xbox One </a></h3>
                                        <h4 class="product-price">$2,499 </h4>
                                        <div class="product-rating">
                                            <p><a class="primero" href="https://www.walmart.com.mx/videojuegos/xbox-one/accesorios/control-inalambrico-xbox-one-white_00088984208433" target="_blank">Walmart</a></p>
                                        </div>
                                        <div class="product-btns">

                                            <p class="product-category">
                                                Control Inalámbrico Xbox One Blanco
                                            </p>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">

                                         <a href="~/Home/Producto"> <button class="add-to-cart-btn"> Ver Detalles</button></a>
                                    </div>
                                </div>
                                <!-- /product -->
                                <!-- product -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="img/pro4.jpg" height="275px" alt="">
                                        <div class="product-label">
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Videojuegos | Controles</p>
                                        <h3 class="product-name"><a href="#">PlayStation 4 DualShock Magma Red</a></h3>
                                        <h4 class="product-price">$1,259</h4>
                                        <div class="product-rating">
                                            <p><a class="primero" href="https://www.liverpool.com.mx/tienda/pdp/playstation-4-dualshock-magma-red/1054841961" target="_blank">Liverpool</a></p>
                                        </div>
                                        <div class="product-btns">
                                            <p class="product-category">panel multitáctil, altavoz, conector para auriculares</p>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"> Ver Detalles</button>
                                    </div>
                                </div>
                                <!-- /product -->
                                <!-- product -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="img/pro6.jpg" alt="" height="270px">
                                        <div class="product-label">
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Computadoras | Audifonos </p>
                                        <h3 class="product-name"><a href="#">HyperX Cloud Stinger</a></h3>
                                        <h4 class="product-price">$1,099 </h4>
                                        <div class="product-rating">
                                            <p><a class="primero" href="https://www.amazon.com.mx/Kingston-HX-HSCS-BK-Aud%C3%ADfonos-HyperX-Stinger/dp/B01L2ZRYVE/ref=asc_df_B01L2ZRYVE/?tag=gledskshopmx-20&linkCode=df0&hvadid=295454297219&hvpos=&hvnetw=g&hvrand=6221017408285437119&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9047088&hvtargid=pla-352077312719&psc=1" target="_blank">Amazon</a></p>
                                        </div>
                                        <div class="product-btns">
                                            <p class="product-category">Compatible con PC, Xbox One, PS4, Nintendo Switch y dispositivos móviles </p>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Ver Detalles</button>
                                    </div>
                                </div>
                                <!-- /product -->
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">

                    <h2 class="text-uppercase">Todo Lo que Buscas   </h2>
                    <p>a Precios increibles </p>
                    <a class="primary-btn cta-btn" href="#">Ver Productos</a>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Mas Vistos</h3>

                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab2" class="tab-pane fade in active">
                            <div class="products-slick" data-nav="#slick-nav-2">
                                <!-- product -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="https://http2.mlstatic.com/laptop-intel-dual-core-4gb-ram-500gb-w10-vorago-alpha-hdmi-D_NQ_NP_775755-MLM32713107168_102019-F.webp" alt="" height="200px">
                                        <div class="product-label">

                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Computadoras | Laptops</p>
                                        <h3 class="product-name"><a>Laptop Intel Dual Core</a></h3>
                                        <h4 class="product-price">$5,789 </h4>
                                        <div class="product-rating">
                                            <p><a class="primero" href="https://articulo.mercadolibre.com.mx/MLM-697259673-laptop-intel-dual-core-4gb-ram-500gb-w10-vorago-alpha-hdmi-_JM?searchVariation=40106248276&quantity=1&variation=40106248276#searchVariation=40106248276&position=1&type=item&tracking_id=d99c2452-4453-4127-ac46-230aaf4c4a75" target="_blank">Mercado Libre</a></p>
                                        </div>
                                        <div class="product-btns">
                                            <p class="product-category">4gb Ram 500gb W10 Vorago Alpha Hdmi</p>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn">Ver Detalles</button>
                                    </div>
                                </div>
                                <!-- /product -->
                                <!-- product -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="https://sm.ign.com/ign_fr/screenshot/default/xboxones-1tbconsole-roblox-us-can-fanl-rgb-1200x1200_wkeg.jpg" alt="" height="200px">
                                        <div class="product-label">
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">VideoJuegos | Consolas</p>
                                        <h3 class="product-name"><a href="#">Consola Xbox One S 1TB </a></h3>
                                        <h4 class="product-price">$5,999 <del class="product-old-price">$7,499</del></h4>
                                        <div class="product-rating">
                                            <p><a class="primero" href="https://www.amazon.com.mx/dp/B086QRM64N/ref=s9_acsd_al_bw_c2_x_2_i?pf_rd_m=A3TO6F13CSVUA4&pf_rd_s=merchandised-search-11&pf_rd_r=C3P3CBHJ7T6P42DTJVS4&pf_rd_t=101&pf_rd_p=3429925c-0617-4bb6-be44-6f603323855c&pf_rd_i=9482640011" target="_blank">Amazon</a></p>
                                        </div>
                                        <div class="product-btns">
                                            <p class="product-category">Roblox - Bundle Limited Edition</p>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"> Ver Detalles</button>
                                    </div>
                                </div>
                                <!-- /product -->
                                <!-- product -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="https://ae01.alicdn.com/kf/H9cb9b636472d42d4ba798e13c3c30694M/2020-CHUWI-HeroBook-Pro-Intel-N4000-Dual-Core-Windows-10-port-til-de-14-1-pulgadas.jpg" alt="" height="90px">
                                        <div class="product-label">
                                            <span class="sale">-30%</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Computadoras | Laptops</p>
                                        <h3 class="product-name"><a href="#">CHUWI HeroBook Pro Intel N4000</a></h3>
                                        <h4 class="product-price">$7,225.56 </h4>
                                        <div class="product-rating">
                                            <p><a class="primero" href="https://es.aliexpress.com/item/4000670411417.html?spm=a2g0o.productlist.0.0.4f97271drpp0Je&algo_pvid=b8bdaa49-f29b-43b8-9d2d-31d9838a0d97&algo_expid=b8bdaa49-f29b-43b8-9d2d-31d9838a0d97-2&btsid=0ab6f83115870947275117128e3afa&ws_ab_test=searchweb0_0,searchweb201602_,searchweb201603_" target="_blank">AliExpress</a></p>
                                        </div>
                                        <div class="product-btns">
                                            <p class="product-category">  portátil de 14,1 pulgadas FHD IPS pantalla 8GB</p>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn">Ver Detalles</button>
                                    </div>
                                </div>
                                <!-- /product -->
                                <!-- product -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="https://res.cloudinary.com/walmart-labs/image/upload/w_960,dpr_auto,f_auto,q_auto:best/mg/gm/1p/images/product-images/img_large/00088984215934l.jpg" alt="" height="200px">
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">VideoJuegos | Controles</p>
                                        <h3 class="product-name"><a href="#">Control Inalámbrico Xbox One</a></h3>
                                        <h4 class="product-price">$1,399 </h4>
                                        <div class="product-rating">
                                            <p><a class="primero" href="https://www.walmart.com.mx/videojuegos/xbox-one/accesorios/control-inalambrico-xbox-one-black-1-pza_00088984215934" target="_blank">Walmart</a></p>
                                        </div>
                                        <div class="product-btns">
                                            <p class="product-category">Control Inalámbrico Xbox One Black 1 pza</p>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn">Ver Detalles</button>
                                    </div>
                                </div>
                                <!-- /product -->
                                <!-- product -->
                                <div class="product">
                                    <div class="product-img">
                                        <img src="https://ss632.liverpool.com.mx/xl/1091525387.jpg" alt="" height="220px">
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">Telefonos | Accesorios</p>
                                        <h3 class="product-name"><a href="#">AirPods Pro blancos</a></h3>
                                        <h4 class="product-price">$5,499</h4>
                                        <div class="product-rating">
                                            <p><a class="primero" href="https://www.liverpool.com.mx/tienda/pdp/airpods-pro-blancos/1091525387" target="_blank">Liverpool</a></p>
                                        </div>
                                        <div class="product-btns">
                                            <p class="product-category">APPLE Tipo De Audífonos: In-Ear Color: Blanco</p>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn">Ver Detalles</button>
                                    </div>
                                </div>
                                <!-- /product -->
                            </div>
                            <div id="slick-nav-2" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- /Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>