
@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="~/img/vista1.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/img/vista2.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/img/vista3.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/img/vista4.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="~/img/vista1.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/img/vista2.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/img/vista3.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="~/img/vista4.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product thumb imgs -->
            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">Control Inalámbrico Xbox One White</h2>
                    <div>
                       
                        <a class="review-link" href="#">Marca Xbox One</a>
                    </div>
                    <div>
                        <h3 class="product-price">$2,499 </h3>
                        <span class="product-available">In Stock</span>
                    </div>
                    <p>
                        Recibe de REGALO un código descargable para HALO 5

                        Posee diseño ergonómico que se adapta a tus manos

                        Mejora el agarre en palancas y cruceta
                    </p>

                  

                    <div class="add-to-cart">
                        
                        <a href="https://www.walmart.com.mx/videojuegos/xbox-one/accesorios/control-inalambrico-xbox-one-white_00088984208433"><button class="add-to-cart-btn"> Ir a tienda</button></a>
                    </div>

                  

                    <ul class="product-links">
                        <li>Categoria:</li>
                        <li><a href="#">Videojuegos </a></li>
                        <li><a href="#">Controles</a></li>
                    </ul>

                   

                </div>
            </div>
            <!-- /Product details -->
            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Descripción</a></li>
                        <li><a data-toggle="tab" href="#tab2">Detalles</a></li>
                        <li><a data-toggle="tab" href="#tab3">Comparacion</a></li>
                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        Recibe de REGALO un código descargable para HALO 5

                                        Posee diseño ergonómico que se adapta a tus manos

                                        Mejora el agarre en palancas y cruceta

                                        Disfruta de la asignación personalizada de botones y de rango inalámbrico

                                        Cuenta con entrada auxiliar de 3.5mm para utilizar con tus audífonos favoritos

                                        Incluye tecnología Bluetooth para juegos en PCs y tabletas con Windows

                                        Botones mejor posicionados

                                        Además, los podrás conectar a cualquier dispositivo que posea el sistema operativo Windows 10.

                                        Usa dos baterías AA

                                        NOTA: En la compra de cualquier control para XBOX ONE, recibe un código descargable para el juego “HALO 5: GUARDIANS” de obsequio. El código llegará al correo registrado con el que se hizo la compra en un periodo de 5 a 7 días hábiles. En caso de no recibirlo favor de enviar tu número de pedido a la siguiente liga de correo electrónico, indicando que no has recibido tu código de descarga PromocionesVideojueg@wal-mart.com

                                        ¡Visita tu tienda en línea de video juegos y consigue los mejores controles, consolas y accesorios de Xbox One, juegos de lanzamiento, consolas y más!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->
                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab2  -->
                      
                        
                                
                                <!-- /Reviews -->
                                <!-- Review Form -->
                                
<!-- /SECTION -->
<!-- Section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Productos Relacionados</h3>
                </div>
            </div>

            <!-- product -->
            <div class="col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="~/img/vistapro1.jpg" alt="">
                        <div class="product-label">
                            <span class="sale">-30%</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Videojuegos | Controles</p>
                        <h3 class="product-name"><a href="#">product name goes here</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        <div class="product-rating">
                        </div>
                        <div class="product-btns">
                          
                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Ver detalles</span></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"> Ver Producto</button>
                    </div>
                </div>
            </div>
            <!-- /product -->
            <!-- product -->
            <div class="col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="~/img/vistapro2.jpg" alt="">
                        <div class="product-label">
                            <span class="new">NEW</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Videojuegos | Controles </p>
                        <h3 class="product-name"><a href="#">product name goes here</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        <div class="product-rating">
                           
                        </div>
                        <div class="product-btns">
                            
                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Ver detalles </span></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn">Ver Producto</button>
                    </div>
                </div>
            </div>
            <!-- /product -->

            <div class="clearfix visible-sm visible-xs"></div>

            <!-- product -->
            <div class="col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="~/img/vistapro3.jpg" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-category">Videojuegos | Controles</p>
                        <h3 class="product-name"><a href="#">product name goes here</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        <div class="product-rating">
                        
                        </div>
                        <div class="product-btns">
                            
                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Ver detalles</span></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Ver Producto</button>
                    </div>
                </div>
            </div>
            <!-- /product -->
            <!-- product -->
            <div class="col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="~/img/vistapro4.jpg" alt="">
                    </div>
                    <div class="product-body">
                        <p class="product-category">Videojuegos | Controles</p>
                        <h3 class="product-name"><a href="#">product name goes here</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        <div class="product-rating">
                        </div>
                        <div class="product-btns">
                            
                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Ver detalles</span></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn">Ver producto</button>
                    </div>
                </div>
            </div>
            <!-- /product -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /Section -->
<!-- NEWSLETTER -->

  
